
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
}

img {
    max-width: 100%;
}
.navegacion-1 {
    background-color: rgb(219, 174, 107);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.navegacion-1 ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.enfrente {
    align-items: flex-end;
}

.navegacion-1 a {
    color: rgb(126, 88, 30);
    text-decoration: none;
    padding: 1em;
    font-size: 11.904px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: block;
}

.logo {
    position: absolute;
    top: 90px;
    left: 20px;
    bottom: 40px;
    right: 40px;

}
.navegacion-2 {
    color: rgb(255, 207, 74);
    font-size: 1em;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.navegacion-2 ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.navegacion-2 a {
    color:rgb(126, 88, 30);
    text-decoration: none;
    padding: 1em;
    display: block;
    justify-content: right;
}
.background-image {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(../src/images/henry-be-IicyiaPYGGI-unsplash.jpg);
    padding: 1em 2em;
    z-index: 1;
}
.nombre{
    color:rgb(126, 88, 30);
    font-weight: 600;
    font-size: 3em;
    text-align: center;
}


.contenedor {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}


.columna1 {
    float: left;
    width: 52%;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 18px;
}


.columna2 {
    overflow: hidden;
    width: 40%;
    margin-left: 20px;
    
}

.bloqueTexto {
    text-align: center;
    
}

.hierba-buena {
    width: 65%;
    margin-left: 170px;
    margin-top: 50px;
    margin-bottom: 20px;
}
/* Configuración de estilos para parte de Andres Cardona: Fotos al final y Footer de la página*/
#LastSection{
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.SquaredImage{
    width: 300px;
    height: 200px;
    margin-left: 1%;
}
#logo{
    margin-left: 5%;
   height: 85px;
    width: auto;
}
#FooterTop{
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: space-around;
}
#links{
    display: flex;
    flex-direction: column;

   
}
#links a{
 text-decoration: none;
     color: green;
}
/* Fin de css Andres Cardona */
